h1 { color: rgb(255, 0, 0);background-color: black;text-align: center;}
h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
body {
    background-color: coral;
  }               
.footer 
{ 
  display: flex; justify-content: flex-end; 
}
.Origami
{
border-radius: 20px;
padding: 30px;
margin: 25px;
width:310px;
font-family: fantasy;
}
